* {
    margin: 0px; padding: 0px;
    box-sizing: inherit;
}
.unselectable{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
::selection{
    background: rgba(51,51,51,0.75);
    color: rgb(255, 255, 255, 0.8);
}
::-moz-selection{
    background: rgba(51,51,51,0.75);
    color: rgb(255, 255, 255, 0.8);
}
@font-face {
    font-family: PressStart2P-Regular;
    src: url(font/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: chalkboard;
    src: url(font/chalkboard.ttf);
}
@font-face {
    font-family: Wingdings3;
    src: url(font/WINGDNG3.TTF);
}
html{
    overflow: scroll;
    overflow-x: hidden;
}
html,body{
    height:100%;
    background-color: #212121;
}
::-webkit-scrollbar {
    width: 0.2vw;
    background: #212121;
}
::-webkit-scrollbar-thumb{
    background: #bdbdbd;
    border-radius: 5px;
}
.container {
    float: left;
    height: 100%;
    width: calc(100% - 4vw);
}

.intro-outer-div{
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/WAVE_BACKGROUND.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.intro-inner-div{
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url(../images/WAVE_BACKGROUND.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title h1 {
    font-size: 4vw;
    font-family: PressStart2P-Regular;
}
.title p { 
    text-align: center;
    padding-top: 0.3vw;
    font-size: 2vw;
    font-family: "chalkboard";
}
.arrow-down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family:"Wingdings3";
    transform: rotate(180deg);
    font-size: 3rem;
    cursor: pointer;
    margin-top: 15rem;
}
.arrow-down:hover {
    transform: scale(1.2) rotate(180deg);
}
.main-nav{
    position: fixed;
    float: right;
    right: 0;
    top: 0;
    height: 100%;
    width: 4vw;
    display: grid;
    grid-template-columns: [start] 100% [end];
    grid-template-rows: [top] 7% [work] 27% [about] 27% [contact] 27% [links] auto [end];
}
.nav { 
    transform: rotate(90deg);
    color: white;
    font-family: "chalkboard";
    font-size: 1rem;
}
.main-nav a:link, a:visited, a:active{
    text-decoration: none;
}
.nav:hover {
    transform: scale(1.1) rotate(90deg);
    color: #bdbdbd;
}

#nav-work {
    grid-row-start: work;
    grid-row-end: about;
    grid-column-start: start;
    grid-column-end: end;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-about {
    grid-row-start: about;
    grid-row-end: contact;
    grid-column-start: start;
    grid-column-end: end;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-contact {
    grid-row-start: contact;
    grid-row-end: links;
    grid-column-start: start;
    grid-column-end: end;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-links {
    grid-row-start: links;
    grid-row-end: end;
    grid-column-start: start;
    grid-column-end: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav-links img {
    width: 2.5vw;
    max-width: 40px;
    min-width: 0.8rem;
}
#nav-links a:hover{
    transform: scale(1.1);
}
#scroll-top { 
    grid-row-start: top;
    grid-row-end: work;
    grid-column-start: start;
    grid-column-end: end;
    justify-self: center;
    align-self: center;
}  
#scroll-top {
    width: 2.3vw;
    max-width: 40px;
    min-width: 0.8rem;
}
#scroll-top:hover {
    transform: scale(1.1);
}

.work {
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/abstract-blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
}
.about {
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/abstract-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
}
.contact {
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/abstract-yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
}
